<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Surgery Practice</title>

</head>
<body>
    <header>
        <nav class="light-blue darken-1">
            <div class="nav-wrapper">
                <i class="fas fa-clinic-medical logo"></i><a href="{{ url_for('signon') }}" class="brand-logo left"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% block navoptions %}

                    {% endblock %}
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('signon') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
            <li><a href="{{ url_for('home_page') }}">Home</a></li>
            <li><a href="{{ url_for('view_appointments') }}">Appointments</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </header>  

    <main class="container">
        {% block content %}

        {% endblock %} 
    </main>    

    <footer class="page-footer blue darken-1">
        <div class="container">
            <a class="grey-text text-lighten-4" href="#!">&copy; Local Community Surgery <span id="currentYear"></span></a>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
