{% extends "base.html" %}

<!-- navbar menu option to be displayed on this screen -->
{% block navoptions %}

<li><a href="{{ url_for('view_appointments') }}">Appointments</a></li>
<li><a href="{{ url_for('logout') }}">Logout</a></li>

{% endblock %}

{% block content %}

<div class="container center-align">
    <h3>Welcome to the Local Community Surgery</h3>
    <!-- general greeting and surgery's message -->
    <p>Our aim is to provide a caring, comprehensive and high quality service with a modern approach to traditional General Practice.
    We work hard to ensure that patients receive the care we would wish ourselves and our families. Our GPs, Practice Nurses and
    support staff are all committed to providing a high quality primary care service, working to maintain and improve your health. 
    We are a well-regarded training practice and have GP Registrars and other Doctors working at our practice.
    We are keen to continuously develop the practice and the services we provide and we welcome your feedback.
    We encourage our patients to express their concerns/comments to us, using the form below</p>
    <br>
    <!-- form to collect patient's views/comments/suggestions/concerns  -->
    <div class="form-wrapper">
        <div class="title">Please use the form below for your suggestions/concerns</div>
        <br>
        <form action="{{ url_for('home_page') }}" method="POST">
            <div>
                <input class="blue-text" type="text" placeholder="Full Name" name="fullname" required>
            </div>
            <div>
                <input class="blue-text" type="Email" placeholder="Email" name="email" required>
            </div>     
            <div>
                <textarea class="blue-text" type="text" id="comments" name="comments" placeholder="Comments" rows="5" cols="60" required></textarea>
            </div>           
            <div>
                <a href="{{ url_for( 'enquiry_form_submitted' )}}" class="blue-text text-darken-2">Send</a>
            </div>
        </form>
    </div> 
</div>

{% endblock %}
