{% extends "base.html" %}

<!-- navbar menu option to be displayed on this screen -->
{% block navoptions %}

<li><a href="{{ url_for('home_page') }}">Home</a></li>
<li><a href="{{ url_for('logout') }}">Logout</a></li>

{% endblock %}

{% block content %}

    <div class="container">
        <h5>Select Appointment Date And Time</h5>

        <form action="{{ url_for('update_date_time') }}" method="POST">
            <!-- Date Dropdown (Datepicker) -->
            <select type="text" id="appointment_date_dropdown" name="appointment_date">
                {% for adate in aptmnt_days %}
                    {% if adate.AvailableDays == appointment_date %}
                        <option value="{{ adate.AvailableDays }}" selected>{{ adate.AvailableDays }}</option>
                    {% else %}
                        <option value="{{ adate.AvailableDays }}">{{ adate.AvailableDays }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <!-- Time Dropdown (Timepicker) -->
            <select type="text" id="appointment_time_dropdown" name="appointment_time">
                {% for atime in aptmnt_times %}
                    {% if atime.AvailableTimes == appointment_time %}
                        <option value="{{ atime.AvailableTimes }}" selected>{{ atime.AvailableTimes }}</option>
                    {% else %}
                        <option value="{{ atime.AvailableTimes }}">{{ atime.AvailableTimes }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <!-- Submit Button -->
            <button type="submit" class="btn waves-effect waves-light">Next</button>
        </form>
    </div>

{% endblock %}
