{% extends "base.html" %}

<!-- navbar menu option to be displayed on this screen -->
{% block navoptions %}

<li><a href="{{ url_for('signup') }}">Signup</a></li>

{% endblock %}

{% block content %}
    <!-- patient signon form -->
   <div class="form-wrapper">
        <div class="title">Login To View/Make Appointments</div>
        <form action="{{ url_for('signon') }}" method="POST">
            <div class="field">
                <input type="text" placeholder="First Name (contain letters only)" name="fname" required>
            </div>
            <div class="field">
                <input type="text" placeholder="Last Name (contain letters only)" name="lname" required>
            </div>     
            <div class="field">
                <input type="password" id="passw" name="passw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password: min one number, one uppercase and lowercase letters, and 8 or more characters" required>
            </div>           
            <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>  
    
{% endblock %}
