{% extends "base.html"%}

{% block content %}

   <div class="form-wrapper">
        <div class="title">Signup Form</div>
        <form action="{{ url_for('signup') }}" method="POST" id="signup-form">
            <div class="field">
                <input type="text" placeholder="First Name (contain letters only)" name="fname" required>
            </div>
            <div class="field">
                <input type="text" placeholder="Last Name (contain letters only)" name="lname" required>
            </div> 
            <div class="field">
                <input type="password" id="passw" name="passw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password: min one number, one uppercase and lowercase letters, and 8 or more characters" required>
            </div>
            <div class="field">
                <input type="password" id="confirmpassw" name="confirmpassw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password: retype to confirm" required>
            </div>            
            <div class="field">
                <input type="text" placeholder="Date of birth (DD-MM-YYYY e.g. 05-02-2000 or 15-12-2000)" name="bday" id="bday" pattern="\d{2}-\m{2}-\d{4}" required>
            </div>
            <div class="field">
                <input type="text" placeholder="House Number (can contain letters and numbers)" name="housenum" required>
            </div>
            <div class="field">
                <input type="text" placeholder="Street Name (contain letters only)" name="street" required>
            </div>
            <div class="field">
                <input type="text" placeholder="Postcode (can contain letters and numbers)" name="pcode" required>
            </div>
            <div class="field">
                <input type="text" placeholder="Allergies (contain letters only)" name="allergies" required>
            </div>
            <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup">
            </div>
        </form>
    </div>  

{% endblock %}
